{% extends "base.html" %}

{% block title %}<title>Le Flux</title>{% endblock %}

{% block content %}
    <h2 class="flux-title">Les Posts de {{ request.user }}</h2>
 
    <button>
        <h3><a href="{% url 'flux:ticket-create' %}" style="color: rgb(255, 0, 255);">Demander une critique pour un livre ou un article</a></h3>
    </button>
        
    <button>
        <h3><a href="{% url 'flux:ticket-create-aio' %}" style="color: rgb(255, 0, 255);">Commenter un livre ou un article</a></h3>
    </button>  
                
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'feed/ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'feed/review_snippet.html' %}
        {% endif %}
    {% endfor %}    

{% endblock %}