{% extends "base.html" %}
{% load static %}
{% block title %}<title>Les Posts</title>{% endblock %}

{% block content %}
    <h2 class="feed-title">Les Posts de {{ request.user }}</h2>
    <ul class="nav-list-vertical">
        <li><a href="{% url 'flux:ticket-create' %}" class="feed-nav-items">Demander une critique pour un livre ou un article</a></li>
        <li><a href="{% url 'flux:ticket-create-aio' %}" class="feed-nav-items">Commenter un livre ou un article</a></li>
    </ul>
    <div class="grid-container">
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include 'feed/ticket_snippet.html' %}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'feed/review_snippet.html' %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}