{% extends "base.html" %}

{% block title %}<title>Abonnements</title>{% endblock %}

{% block content %}
    <h2 class="subcription-titles">Abonnements</h2>
    <hr class="hr-1">

    <h4 class="subcription-titles">Suivre un utilisateur : </h4>
    <form method="post" class="form-body">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Suivre" class="button-1">
    </form>

    <h4 class="subcription-titles">Abonnements</h4>
    <ul class="follow-users-list">
        {%  for user_follow in followed_users %}
        <li>{{ user_follow.followed_user }} | <a href="{% url 'follow:unfollow' user_follow.pk %}">Supprimer le suivi de <span style="color: rgb(61, 61, 61);">{{ user_follow.followed_user }}</span></a></li>
        {% endfor %}
    </ul>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h4 class="subcription-titles">Abonnés</h4>
    <ul class="follow-users-list">
        {%  for user_follow in users_following %}
        <li>{{ user_follow.user }}</li>
        {% endfor %}
    </ul>



{% endblock %}