<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Connexion</title>
</head>
<body class="login-body">
<form method="POST" class="login-form">
    <h3>Connexion</h3>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Connexion">
</form>
<p>Pas encore menbre ? <a href ="{% url 'auth:signup' %}">Inscrivez-vous maintenant !</a></p>
</body>
</html>

