<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un compte</title>
</head>
<body>
<h1>LITReview</h1>
<br>
<hr>
<h2>Inscrivez-vous</h2>
       

<form method="POST">
    {% csrf_token %}  
    {{ form.as_p }}

    <h3 style="color:red">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    </h3> 
    
    <input type="submit" value="S'inscrire"> 
</form>  
    
</body>
</html>
