{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_1.css' %}">
    <title>Créer un compte</title>
</head>
<body class="signup-body">
<h1>LITReview</h1>
<hr class="hr-1">

<form method="POST" class="signup-form">
    <h2>Créer un compte</h2>
    {% csrf_token %}
    {{ form.as_p }}

    <h3 style="color:red">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    </h3>

    <input type="submit" value="S'inscrire">
</form>

</body>
</html>
