{% extends "base.html" %}

{% block title %}<title>Les Critiques</title>{% endblock %}

{% block content %}
    <h3>Les Critiques sur : &nbsp;<span style="color: rgb(61, 61, 61);">{{ ticket.title }}<span></h3>
    <hr class="hr-1">

    <a href="{% url 'flux:ticket-review-create' ticket_slug=ticket.slug %}" class="return-link">Ajouter une critique</a>

    <ul class="grid-container">
        {% for review in reviews %}
            <li class="review-list-element">
                <a href="{% url 'flux:ticket-review-detail' ticket_slug=review.ticket.slug slug=review.slug %}" class="detail-link">
                    <h4>
                        {{ review.headline }} ({{ forloop.counter }})
                        <a href="{% url 'flux:ticket-review-update' ticket_slug=review.ticket.slug slug=review.slug %}" class="edit-link">
                            Modifier &nbsp;
                        </a>
                        <a href="{% url 'flux:ticket-review-delete' ticket_slug=review.ticket.slug slug=review.slug %}" class="delete-link">
                            Supprimer
                        </a>
                    </h4>
                </a>
                <p class="rating">{{ review.get_rating_display }}</p>
                <p>{{ review.body|truncatewords:30 }}</p>
            </li>

        {% endfor %}
    </ul>

{% endblock %}
