{% extends "base.html" %}

{% block title %}<title>{{ review.headline }}</title>{% endblock %}

{% block content %}
    <nav>
        <ul class="nav-list-vertical">
            <li><a href="{% url 'flux:ticket-review-list' ticket_slug=review.ticket.slug %}" class="reviw-detail-nav-element">Retour aux critiques du livre/article</a></li>
            {% if review.user == request.user %}
            <li><a href="{% url 'flux:ticket-review-update' ticket_slug=review.ticket.slug slug=review.slug %}" class="reviw-detail-nav-element">Modifier la critique</a></li>
            <li> <a href="{% url 'flux:ticket-review-delete' ticket_slug=review.ticket.slug slug=review.slug %}" class="reviw-detail-nav-element">Supprimer la critique</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr class="hr-1">

    <h4>La critique sur <span style="color: grey;">{{ review.ticket }}</span> : <br> <span style="color: rgb(38, 36, 140);">{{ review.headline }}</span></h4>
    <p class="rating">{{ review.get_rating_display }}</p>
    <p style="margin: 50px 0;">{{ review.body }}</p>

{% endblock %}
