{% extends "base.html" %}

{% block content %}
    <a href="{% url 'flux:ticket-review-detail' ticket_slug=review.ticket.slug slug=review.slug %}" class="return-link">Retour à la critique sans modification</a>
    <h3 class="form-title">Modifier la Critique :&nbsp;<span style="color: rgb(61, 61, 61);">{{review.headline}}</span></h3>
    <form method="POST" class="form-body">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button-1">Modifier la critique</button>
    </form>

{% endblock %}