{% extends 'base.html' %}

{% block content %}
    <h3 class="form-title">Créer un ticket et ajouter une critique</h3>

    <a href="{% url 'feed:feed' %}" class="return-link">Retour au Flux</a>

    <form method="POST" enctype="multipart/form-data" class="form-body">
        <p class="ticket-review-create-para">Veuillez créer le ticket:</p>
        {% csrf_token %}
        {{ form.as_p }}
        <p class="ticket-review-create-para">Veuillez saisir la critique associée: </p>
        {{ form_review.as_p }}
        <input type="submit" value="Créer" class="button-1">
    </form>
{% endblock %}
